name: iOS Build

on:
  push:
    branches:
      - development
  pull_request:

jobs:
  ios-build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - name: Set Up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Run tests
        run: ./gradlew :shared:iosX64Test

      - name: Build
        uses: sersoft-gmbh/xcodebuild-action@v1
        with:
          project: iosApp/templateIOS.xcodeproj
          scheme: templateIOS
          destination: name=iPhone 8
          sdk: iphoneos
          configuration: Debug
          action: build
          use-xcpretty: false
          build-settings: CODE_SIGN_IDENTITY= CODE_SIGNING_REQUIRED=NO