# THIS ACTION IS FOR VALIDATION WITHIN TEMPLATE REPO, AND WILL BE
# REMOVED UPON RUNNING RENAMETEMPLATE GRADLE TASK.

name: Rename Template

on: pull_request

jobs:
  rename-template:
    strategy:
      matrix:
        keepCustomizableDependencies: [true, false]

    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - name: Set usePaparazzi
        run: |
          sed -i '' 's/usePaparazzi.* : true/usePaparazzi : ${{ matrix.keepCustomizableDependencies }}/g' buildscripts/setup.gradle

      - name: Set useSqldelight
        run: |
          sed -i '' 's/useSqldelight.* : true/useSqldelight : ${{ matrix.keepCustomizableDependencies }}/g' buildscripts/setup.gradle

      - name: Set useMultiplatformSettings
        run: |
          sed -i '' 's/useMultiplatformSettings.* : true/useMultiplatformSettings : ${{ matrix.keepCustomizableDependencies }}/g' buildscripts/setup.gradle

      - name: Set useKtor
        run: |
          sed -i '' 's/useKtor.* : true/useKtor : ${{ matrix.keepCustomizableDependencies }}/g' buildscripts/setup.gradle

      - name: Set useKoin
        run: |
          sed -i '' 's/useKoin.* : true/useKoin : ${{ matrix.keepCustomizableDependencies }}/g' buildscripts/setup.gradle

      - name: Set useApollo
        run: |
          sed -i '' 's/useApollo.* : true/useApollo : ${{ matrix.keepCustomizableDependencies }}/g' buildscripts/setup.gradle

      - name: Set useCoil
        run: |
          sed -i '' 's/useCoil.* : true/useCoil : ${{ matrix.keepCustomizableDependencies }}/g' buildscripts/setup.gradle

      - name: Set useRenovate
        run: |
          sed -i '' 's/useRenovate.* : true/useRenovate : ${{ matrix.keepCustomizableDependencies }}/g' buildscripts/setup.gradle

      - name: Set Up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Rename
        run: ./gradlew renameTemplate

      - name: Clean
        run: ./gradlew clean

      # Only build enough to verify compilation: https://touchlab.co/touchlab-build-only-what-you-need#ci
      - name: Android Build
        run: ./gradlew assembleDebug

      - name: IOS Build
        uses: sersoft-gmbh/xcodebuild-action@v3
        with:
          project: iosApp/myIOS.xcodeproj
          scheme: myIOS
          destination: name=iPhone 8
          sdk: iphoneos
          configuration: Debug
          action: build
          use-xcpretty: false
          build-settings: CODE_SIGN_IDENTITY= CODE_SIGNING_REQUIRED=NO

      - name: Run Tests
        run: ./gradlew test